INTERNAL_PORT=8888
INTERNAL_HOST=127.0.0.1
# --- Allowed users ---
GITHUB_USERS=<username1>,<username2>

# External hostname that clients use 
EXTERNAL_HOSTNAME=<server>.<tailnet>.ts.net

# GitHub OAuth app credentials (register app at GitHub)
GITHUB_CLIENT_ID=<clientid>
GITHUB_CLIENT_SECRET=<clientsecret>
SKIP_OAUTH=false

BASE_URL_SCHEME=https
OAUTH_REDIRECT_PATH=/auth/callback
MCP_JSON_PATH=./mcp.json
SERVER_NAME=fastmcp-proxy

# Strongly recommended. Run generate_allowed_ranges_from_openai.py for rebuilding it
ALLOWED_RANGES_FILE=./allowed-ranges.txt
DEBUGLEVEL=WARNING
